<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <table id="dg" class="easyui-datagrid" title="平台属性列表" style="height:350px"
           data-options="toolbar:'#tb',singleSelect:true,collapsible:true,url:'datagrid_data1.json',method:'get'">
        <thead>
            <tr>
                <th data-options="field:'id',width:80">平台属性ID</th>
                <th data-options="field:'attrName',width:100">平台属性名称</th>
            </tr>
        </thead>
    </table>

    <div id="tb">
        <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true">添加</a>
        <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true">编辑</a>
        <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true">删除</a>
        <br/><br/>
        一级分类:<select id="ctg1forattrList" class="easyui-combobox" data-options="valueField:'id',textField:'name',url:'getcatalog1',
               onSelect:function(rec){
                    var url = 'getcatalog2?catalog1Id=' + rec.id;
                    $('#ctg2forattrList').combobox('clear');
                    $('#ctg2forattrList').combobox('reload',url);
               }
            " style="width:100px"></select>
        二级分类:<select id="ctg2forattrList" class="easyui-combobox" data-options="valueField:'id',textField:'name',
                    onSelect:function(rec){
                        var url = 'getcatalog3?catalog2Id=' + rec.id;
                        $('#ctg3forattrList').combobox('clear');
                        $('#ctg3forattrList').combobox('reload',url);
                    }
                "style="width:100px"></select>
        三级分类:<select id="ctg3forattrList" class="easyui-combobox" data-options="valueField:'id',textField:'name'" style="width:100px"></select>
        <a href="javascript:reloadAttrList();" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true">刷新属性</a>
        <br/><br/>
    </div>

    <script language="JavaScript">
        function reloadAttrList(){
            var catalog3Id = $("#ctg3forattrList").combobox("getValue");
            if(!catalog3Id){
                catalog3Id='1';
            }
            $("#dg").datagrid({
                url:'getAttrList?catalog3Id=' + catalog3Id
            });
        }
    </script>
</body>
</html>