<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="easyui-panel" title=""  data-options="border:true">
    <table id="spulist_dg" class="easyui-datagrid" title="spu列表" style="height:350px"
           data-options="toolbar:'#spulist_tb',singleSelect:true,method:'get'">
        <thead>
        <tr>
            <th data-options="field:'id',width:'30%'">商品ID</th>
            <th data-options="field:'spuName',width:'30%'">商品名称</th>
            <th data-options="field:'description',width:'40%'">商品描述</th>
        </tr>
        </thead>
    </table>

    <div id="spulist_tb" style="padding:5px;height:auto">
        <div style="margin-bottom:5px">
        <a href="#" onclick="addSpuInfo()" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true">添加</a>
        <a href="javascript:editSpuInfo();" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true">编辑</a>
        <a href="javascript:removeSpuInfo();" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true">删除</a>
        <a href="javascript:addSkuInfo();" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true">增加</a>
        <a href="javascript:showSkuInfoList();" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true">sku列表</a>
        </div>
        <div>
        一级分类:<select id="ctg1ForSpuList" class="easyui-combobox" data-options="valueField:'id',textField:'name',url:'getcatalog1',
                   onSelect:function(rec){
                        var url = 'getcatalog2?catalog1Id=' + rec.id;
                        $('#ctg2ForSpuList').combobox('clear');
                        $('#ctg3ForSpuList').combobox('clear');
                        $('#ctg2ForSpuList').combobox('reload',url);
                   }
                " style="width:100px"></select>
        二级分类:<select id="ctg2ForSpuList" name="ctg2ForSpuList" class="easyui-combobox" data-options="valueField:'id',textField:'name',
                        onSelect:function(rec){
                            $('#ctg3ForSpuList').combobox('clear');
                            var url = 'getcatalog3?catalog2Id=' + rec.id;
                            $('#ctg3ForSpuList').combobox('reload',url);
                        }
                    "style="width:100px"></select>
        三级分类:<select id="ctg3ForSpuList" name="ctg3ForSpuList" class="easyui-combobox" data-options="valueField:'id',textField:'name',
                     onSelect:function(rec){
                        $('#spulist_dg').datagrid({
                            url:'spuList?catalog3Id=' + rec.id
                        });
                     }"
                     style="width:100px"></select>
        <a href="#" onclick="javascript:reloadSpuList()" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true">刷新列表</a>
            </div>
        </div>
    </div>
    <div th:include="spuInfoPage"></div>
<script language="JavaScript">

    function addSpuInfo() {
        $("#spu_dlg").dialog("open");
        //初始化spu的对话框
        initSpuInfoDlg();
    }
    function reloadSpuList() {
        var catalog3Id = $("#ctg3ForSpuList").combobox("getValue");
        if(!catalog3Id){
            catalog3Id = '1';
        }
        $("#spulist_dg").datagrid({
            url:'spuList?catalog3Id=' + catalog3Id
        });
        //alert("刷新spu列表的信息");
    }
</script>
</body>
</html>