<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.gmall.manage.service.mapper.BaseCatalog1Mapper">
    <select id="selectBaseCatalog1List" resultMap="selectBaseCatalog1ListMap">
        select bc1.id bc1_id,bc2.id bc2_id,bc3.id bc3_id,bc1.*,bc2.*,bc3.*
        from base_catalog1 bc1,base_catalog2 bc2,base_catalog3 bc3
        where bc1.id = bc2.catalog1_id and bc2.id = bc3.catalog2_id
        and bc1.id = #{catalog1Id}
    </select>
    <resultMap id="selectBaseCatalog1ListMap" type="com.atguigu.gmall.bean.BaseCatalog1" autoMapping="true">
            <result property="id" column="bc1_id"></result>
        <collection property="baseCatalog2List" ofType="com.atguigu.gmall.bean.BaseCatalog2" autoMapping="true">
            <result property="id" column="bc2_id"></result>
            <collection property="baseCatalog3List" ofType="com.atguigu.gmall.bean.BaseCatalog3" autoMapping="true">
                <result property="id" column="bc3_id"></result>
            </collection>
        </collection>
    </resultMap>
</mapper>